.dog{
    display: grid;
    grid-template-columns:  20dvi 20dvi 20dvi;
    grid-template-rows:  20dvi 20dvi 20dvi;
}

.s{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width:  40dvi;
}

.b{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    width:  40dvi;
    height:  20dvi;
}

.v{
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    width:  20dvi;
    height:  60dvi;
}